@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Noto Sans', sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
h1{
  font-size: 3rem;
}
.container{
  max-width: 1240px;
  margin: auto;
  padding: 0 1rem;
}